
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# Get this from https://mlab.com/home after you've logged in and created a database
MONGODB_URI=

# This is standard running mongodb locally 测试的时候加载本地MongoDB
MONGODB_URI_LOCAL=mongodb://localhost:27017/nyx_ts_express

# Put lots of randomness in these
SESSION_SECRET=

# Facebook keys - register your app and get yours here: https://developers.facebook.com/
FACEBOOK_ID=
FACEBOOK_SECRET=

# SendGrid Login - create an account with SendGrid her: https://signup.sendgrid.com/
SENDGRID_USER=
SENDGRID_PASSWORD=

# Public origin used when constructing links in email. Do not include a trailing slash.
APP_BASE_URL=http://localhost:3000

# Application Port - express server listens on this port (default 3000).
PORT=3000
